@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

#referralProgramForm {
    form {
        input {
            min-height: 54px;

            &::placeholder {
                font-weight: 300;
                opacity: 0.5;

            }

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

header {
    .slide-nav {
        position: fixed;
        background: #202026;
        height: 100%;
        z-index: 100000000;
        width: 100%;
        padding: 50px;
        color: $primary;
        font-weight: 500;
        font-size: 1.25rem;
        transform: translateX(-100%);
        transition: 0.2s all ease-in-out;

        &.nav-open {
            transform: translateX(0);
        }

        @include media-breakpoint-down(sm) {
            padding: 24px;
        }

        .nav-btns {
            .btn {
                height: 60px;
                border-radius: 100px;
                font-weight: 700;
            }
        }

        .nav-link {
            font-size: 1.25rem;
            font-weight: 700;
        }

        .navigation-list {
            margin-bottom: 0;
            list-style: none;
            padding-inline-start: 0;

            li {
                padding: 12px 0;

                a, button {
                    color: $white;
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 700;
                    line-height: 1;
                    border: 0;
                    background: none;
                    padding: 0;
                }
            }
        }
    }

    .header-top-bar {
        padding: 18px 0;
    }

    ul.navigation-bar {
        padding-inline-start: 0;
        list-style: none;
        margin-bottom: 36px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 10px;

        .slick-slide {
            margin: 0 5px;
        }

        .btn {
            height: 52px;
        }

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }
    }
}

.banner_2.banner_wrapper {
    section.banner {
        background: imgUrl('banner.png') top right 60px, linear-gradient(180deg, $primary 0%, $tertiary 100%);
        padding: 80px;
        border-radius: 40px;

        @include media-breakpoint-down(sm) {
            padding: 40px 20px;
        }

        .loanwidget {
            padding: 44px 37px;
            background: $white;
            border-radius: 20px;

            @include media-breakpoint-down(sm) {
                padding: 23px 22px;
            }

            .box {
                transition: all .5s ease-in-out;
                background-color: rgba(50, 8, 115, .1019607843);

                img {
                    transition: all .5s ease-in-out;
                }

                &:hover {
                    background-color: #c8a9f9;
                    transform: scale(1.05);
                }

                .loanwidget .box:hover img {
                    filter: grayscale(0)
                }
            }
        }

        .loanwidgetfieldgroup {
            width: 100%;

            &.hidden {
                display: none;
            }

            .multi-step-form .form-control {
                font-size: calc(1.525rem + .45vw)
            }
        }

        .loanwidget .box.active,
        .loanwidget .box.active2 {
            --bs-bg-opacity: 1;
            transform: scale(1.05)
        }

        .rangeform {
            #yeartext {
                padding-top: .5625rem;
            }

            .slider {
                -webkit-appearance: none;
                width: 100%;
                height: 25px;
                background: $tertiary;
                outline: none;
                border-radius: 50rem;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 48px;
                    height: 48px;
                    background: #fff;
                    border-radius: 50rem;
                    cursor: pointer;
                    box-shadow: 0 0 10px;
                }
            }

            input {
                outline: none;
            }

            .years {
                .text-col {
                    width: 80px !important;
                }

                input.text {
                    max-width: 100% !important;
                    width: auto !important
                }
            }

            .slider1_parent {
                font-size: 64px;
                line-height: 1;
                color: #d7d7dc;
                font-weight: bold;
                font-family: articulat-cf, sans-serif;
                margin-left: 0;

                .title {
                    margin: 0;
                    line-height: 1;
                }

                input {
                    font-family: articulat-cf, sans-serif;
                    border: none;
                    height: 64px;
                    color: #d7d7dc;
                    font-weight: bold;
                    outline: none;
                    width: 50%;
                    margin: 0
                }

                .main_block {
                    .groove_parent {
                        height: 52px;
                        margin: 0;

                        .groove {
                            border: none;
                            height: 34px;
                            border-radius: 50rem;

                            .fill {
                                height: 34px;
                                background: #5614bb !important;
                            }
                        }

                        .rider {
                            width: 48px;
                            height: 48px;
                            border-radius: 50rem;
                            border: none;
                        }
                    }
                }

                .slider_range {
                    display: none;
                }
            }

            .years .slider1_parent input {
                float: left;
                width: 12%;
            }

            select {
                background-color: rgba(0, 0, 0, 0);
                border: none;
                font-size: 64px;
                line-height: 1;
                font-weight: bold;
                color: #d7d7dc;
                outline: none
            }
        }

        section.content .boxshadow {
            box-shadow: 0px 0px 70px 10px rgba(0, 0, 0, .1)
        }

        @media screen and (max-width: 768px) {
            .rangeform {
                .slider {
                    height: 16px;

                    &::-webkit-slider-thumb {
                        width: 32px;
                        height: 32px;
                    }
                }

                .slider1_parent {
                    font-size: 38px;
                    line-height: 1;

                    .title {
                        font-size: 30px
                    }

                    input {
                        height: 38px;
                        font-size: 30px;
                        width: 80%;
                        line-height: 1;
                        display: inline-block
                    }

                    .main_block .groove_parent {
                        height: 24px;

                        .groove {
                            height: 13px;

                            .fill {
                                height: 13px;
                            }
                        }

                        .rider {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }

                .years .text-col {
                    width: 75px !important;
                }

                select {
                    font-size: 38px
                }
            }
        }
    }

    .cta_wrapper {
        padding: 40px 0 80px;

        @include media-breakpoint-down(sm) {
            padding: 40px 0;
        }

        .banner_card {
            background: $light;
            border-radius: 20px;
            min-height: 162px;
            height: 100%;
            padding: 16px 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 1;

            @include media-breakpoint-down(sm) {
                flex-direction: row;
                min-height: 68px;
                padding: 16px;
            }
        }
    }
}

section.solutions {
    padding: 160px 0;
    background: $dark;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    #solutions-slider {
        .slick-track {
            margin-left: -46px;
        }

        .slick-slide {
            margin: 0 4px;
        }
    }

    .solution_card {
        height: 390px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        .bg-img {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .inner {
            background: linear-gradient(180deg, rgba(40, 40, 47, 0) 0%, #28282F 86.46%);
            position: relative;
            width: 100%;
            height: 100%;
            padding: 20px;
            display: flex;
            align-items: end;
            font-weight: 500;
            color: $white;
            font-size: 1.5rem;
            line-height: 1;
            text-transform: capitalize;
        }
    }
}

section.about {
    padding: 160px 0;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    #about-slider {
        .slick-slide {
            margin: 0 4px;
        }

        .about_card {
            margin: 8px 0;
        }

        .slick-dots {
            li {
                height: 8px;
                width: 8px;

                button {
                    padding: 0;
                    height: 8px;
                    width: 8px;

                    &::before {
                        height: 8px;
                        background: #000;
                        border-radius: 50%;
                        content: "";
                        opacity: 0.2;
                        width: 8px;
                        line-height: 1;
                    }
                }

                &.slick-active button::before {
                    opacity: 0.75;
                }
            }
        }
    }

    .about_card {
        background: $light;
        border-radius: 20px;
        min-height: 128px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 16px 37px;
        color: $grey;
        font-size: 1.5rem;
        font-weight: 500;
        gap: 20px;
        line-height: 1;

        @include media-breakpoint-down(lg) {
            min-height: 88px;
            padding: 16px 20px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 19px;
        }
    }
}

section.finance {
    padding: 160px 0;
    background: $dark;

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    .finance_card {
        height: 390px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(sm) {
            height: 258px;
        }

        .bg-img {
            position: absolute;
            height: 100%;
            width: 100%;
        }

        .inner {
            background: linear-gradient(180deg, rgba(40, 40, 47, 0) 0%, #28282F 86.46%);
            position: relative;
            width: 100%;
            height: 100%;
            padding: 40px;
            display: flex;
            align-items: end;
            font-weight: 500;
            color: $white;
            font-size: 1.5rem;
            line-height: 1;
            text-transform: capitalize;

            @include media-breakpoint-down(sm) {
                font-size: 19px;
            }

            .title {
                min-height: 48px;
                margin-top: 24px;
            }
        }
    }
}

section.why-us {
    padding: 160px 0;
    background: imgUrl('banner.png') top right 80px, linear-gradient(180deg, $primary 0%, $tertiary 100%);

    @include media-breakpoint-down(lg) {
        padding: 80px 0;
    }

    .whyus_card {
        width: 100%;
        min-height: 238px;
        background: $white;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        font-size: 1.5rem;
        color: $grey;
        font-weight: 500;
        line-height: 1;

        @include media-breakpoint-up(md) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include media-breakpoint-down(sm) {
            min-height: 80px;
            text-align: start;
            font-size: 19px;
            padding: 8px 20px;
        }
    }
}

section.partners {
    padding: 160px 0 50px;

    @include media-breakpoint-down(lg) {
        padding: 80px 0 50px;
    }

    .pilot-text {
        padding: 120px 0 80px;

        @include media-breakpoint-down(lg) {
            padding: 80px 0 40px;
        }
    }

    #partners-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @include media-breakpoint-down(sm) {
                margin: 20px;
            }

            img {
                max-width: 167px;
            }
        }

        .slick-arrow {
            z-index: 100;
            width: 12px;
            top: 50%;
        }

        .slick-dots {
            li {
                height: 8px;
                width: 8px;

                button {
                    padding: 0;
                    height: 8px;
                    width: 8px;

                    &::before {
                        height: 8px;
                        background: #000;
                        border-radius: 50%;
                        content: "";
                        opacity: 0.2;
                        width: 8px;
                        line-height: 1;
                    }
                }

                &.slick-active button::before {
                    opacity: 0.75;
                }
            }
        }
    }
}

footer {
    background: $black;
    color: $white;

    .footer-top {
        padding-top: 75px;

        .google {
            max-width: 235px;
            ;
        }

        .footer-list {
            padding-inline-start: 0;
            list-style: none;
            margin-bottom: 0;

            li {
                padding: 2px 0;

                a, button {
                    text-decoration: none;
                    color: $white;
                    font-weight: 300;
                    border: 0;
                    background: none;
                }

                ul.list-style-none {
                    list-style: none;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.775rem;
        padding: 0 40px;
    }
}